* {
  box-sizing: border-box;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  font-size: 10px;
  font-family: Tahoma, Arial;

  nav {
    width: 100%;
    background-color: #4d5791;
    height: 44px;
    padding: 0 40px;

    ul, ul li {
      margin: 0;
      padding: 0;
      list-style: none;
      display: inline-block;

      a {
        display: block;
        padding: 0 20px;
        line-height: 44px;
        font-size: 1.4em;
        text-decoration: none;
        color: #fff;
        margin: 0;

        &:hover {
          background-color: white;
          color: #4d5791;
        }
      }
    }
  }

  .hero {
    height: 350px;
    background-color: #b4c6f0;
    background-image: url('../public/bg.png');
    background-size: 400px;
    background-repeat: no-repeat;
    background-position: center bottom;
    padding-top: 40px;

    h1, h2 {
      text-align: center;
      margin: 0;
    }

    h1 {
      color: #fff;
      font-size: 4.2em;
      margin-bottom: 20px;
    }

    h2 {
      color: #4d5791;
    }
  }

  main {
    padding: 40px;
    width: 100%;

    .page-area {
      max-width: 768px;
      display: inline-block;
    }

    article {
      display: inline-block;
      width: 100%;
      max-width: 340px;
      text-align: justify;
      margin: 20px;

      @media screen and (min-width: 768px) {
        margin: 10px;
      }
    }
  }

  footer {
    height: 50px;
    background-color: #b4c6f0;
    padding: 40px;
  }

  .skip {
    display: block;
    line-height: 44px;
    padding: 0 20px;
    margin-top: -44px;

    &:focus {
      margin-top: 0;
    }
  }

  .center {
    text-align: center;
  }
}


main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre, code, kbd, samp, small, sub, sup {
  font-family: monospace, monospace;
  font-size: 1em;
  small {
    font-size: 80%;
  }
  sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;

    sub {
      bottom: -0.25em;
    }

    sup {
      top: -0.5em;
    }
  }
}

a {
  background-color: transparent;
  abbr[title] {
    border-bottom: none;
    text-decoration: underline dotted;
  }
}

b, strong {
  font-weight: bolder;
}

img {
  border-style: none;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;

  &::-moz-focus-inner {
    border-style: none;
    padding: 0;
  }

  &:-moz-focusring {
    outline: 1px dotted ButtonText;
  }
}

[type="checkbox"], [type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;

  &::-webkit-search-decoration {
    -webkit-appearance: none;
  }
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}
